<div class="container" #sidebar>
    <div class="menu-list">
        <button>
            <span class="menu-number">00</span>
            <span class="menu-label"> HOME</span>
        </button>
        <button>
            <span class="menu-number">01</span>
            <span class="menu-label"> DESTINATION</span>
        </button>
        <button>
            <span class="menu-number">02</span>
            <span class="menu-label"> CREW</span>
        </button>
        <button>
            <span class="menu-number">03</span>
            <span class="menu-label"> TECHNOLOGY</span>
        </button>
    </div>
    
    <div class="close-btn-container"  #closeButton>
        <button class="close-btn" (click)="onClose()">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21"><g fill="#D0D6F9" fill-rule="evenodd"><path d="M2.575.954l16.97 16.97-2.12 2.122L.455 3.076z"/><path d="M.454 17.925L17.424.955l2.122 2.12-16.97 16.97z"/></g></svg>
        </button>
    </div>

    <div class="mask"></div>
</div>
