@font-face {
    font-family: 'Barlow Condensed';
    src: url(/assets/fonts/BarlowCondensed-Regular.ttf) format("truetype");
}


.container {
    display: block;
    height: 640px;
    width: 100%;
    margin-top: -88px;
    z-index: -1;
    
}

.background {
    background-image: url("/assets/assets/technology/background-technology-mobile.jpg");
    height: 100%;
    position: fixed;
    z-index: -2;
    margin-top: -105px;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;

}


.space-launch {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.space-launch .number {
    font-family: 'Barlow Condensed';
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.25;
    line-height: 19px;
}

.space-launch .text-space-launch {
    font-family: 'Barlow Condensed';
    color: white;
    font-size: 13px;
    font-weight: 400px;
    text-transform: uppercase;
    margin-left: 17px;
    line-height: 19px;
    letter-spacing: 2.7px;
}

.tech-image {
    display: block;
    margin-top: 30px;   
}

.tech-navigation {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 29px;
}
.tech-navigation button {
    font-size: 13px;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    background: transparent;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}

.tech-role {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    text-align: center;
    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
    margin-top: 29px;
}

.tech-name {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Bellefair';
    margin-top: 17px;
}

.tech-description {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

    text-align: center;

    color: #D0D6F9;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 27px;
}

.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    margin-top: 52px;
    height: 5px;
}

@media(min-width: 500px) {
    .background {
        background-image: url("/assets/assets/technology/background-technology-tablet.jpg");
        margin-top: -96px;
    }

    .space-launch {
        margin-top: 120px;
        padding-top: 50px;
        padding-left: 30px;
        display: flex;
        justify-content: left;
    }

    .space-launch .number {
        font-family: 'Barlow Condensed';
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        opacity: 0.25;
        line-height: 19px;
    }
    
    .space-launch .text-space-launch {
        font-family: 'Barlow Condensed';
        color: white;
        font-size: 20px;
        font-weight: 400px;
        text-transform: uppercase;
        margin-left: 17px;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .tech-image {
        display: block;
        margin-top: 60px;   
    }

    img {
        height: 310px;
    }

    .tech-navigation {
        display: flex;
        justify-content: center;
        column-gap: 25px;
        margin-top: 50px;
    }
    .tech-navigation button {
        font-size: 20px;
        text-transform: uppercase;
        list-style-type: none;
        color: white;
        background: transparent;
        border: 1px solid white;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .tech-role {
        font-size: 17px;
        margin-top: 50px;
    }

    .tech-name {
        font-size: 45px;
        margin-top: 40px;
    }

    .tech-description {
        font-size: 19px;
        width: 550px;
        margin-top: 42px;
        line-height: 30px;
        letter-spacing: 1.2px;
    }
}
@media(min-width: 1024px) {
    .background {
        background-image: url("/assets/assets/technology/background-technology-desktop.jpg");
        height: 85vw;
    }

    .space-launch {
        display: none;
    }

    .space-launch-desktop {
        margin-top: 6.27vw;
        padding-top: 11vw;
        padding-left: 9vw;
        display: flex;
        justify-content: flex-start;
    }

    .space-launch-desktop .number {
        font-family: 'Barlow Condensed';
        color: white;
        font-size: 2.5vw;
        text-transform: uppercase;
        opacity: 0.25;
        line-height: 19px;
    }
    
    .space-launch-desktop .text-space-launch-desktop {
        font-family: 'Barlow Condensed';
        color: white;
        font-size: 2.5vw;
        font-weight: 400px;
        text-transform: uppercase;
        margin-left: 0.9vw;
        line-height: 19px;
        letter-spacing: 2.7px;
    }

    .desktop-view {
        display: flex;
    }

    .desktop-left {
        order: 1;
    }
    .desktop-right {
        order: 2;
    }

    .tech-navigation {
        display: absolute;
        justify-content: center;
        flex-direction: column;
        row-gap: 2vw;
        margin-top: -2vw;
        margin-left: 9vw;
    }
    .tech-navigation button {
        font-size: 2vw;
        text-transform: uppercase;
        list-style-type: none;
        color: white;
        background: transparent;
        border: 1px solid white;
        width: 6vw;
        height: 6vw;
        border-radius: 50%;
    }
    .tech-navigation button:hover{
        cursor: pointer;
        box-shadow: 0 0 0 0.5vw #ffffff; 
        border-radius:50%;
    }

    .left-zone {
        display: flex;
        column-gap: 5vw;
        width: 67vw;
        height: 50vw;
    }

    .tech-image {
        display: block;
        margin-top: 20vw;   
    }
    img {
        height: 40vw;
    }

    .tech-role {
        font-size: 1.5vw;
        margin-top: 12vw;
        text-align: left;
    }

    .tech-name {
        font-size: 5vw;
        margin-top: 3vw;
        text-align: left;
    }

    .tech-description {
        font-family: 'barlow-condensed';
        font-size: 1.3vw;
        line-height: 2vw;
        width: 35vw;
        margin-top: 7vw;
        letter-spacing: 1.2px;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
    }

}


