@font-face {
    font-family: 'Barlow Condensed';
    src: url(/assets/fonts/BarlowCondensed-Regular.ttf) format("truetype");
}

.container {
    height: 100%;
    width: 100vw;
    margin-top: -73px;
    z-index: 0;
    width: 100%;
}

.background {
    height: 100%;
    width: 100vw;
    background-image: url("/assets/assets/home/background-home-mobile.jpg");
    position: fixed;
    margin-top: -112px;
    z-index: -3;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}

.presentation-block {
    margin-top: 112px;
    margin-left: auto;
    margin-right: auto;
    width: 327px;
    height: 276px;

}

.top-sentence {
    text-align: center;
    font-size: 16px;
    color: #D0D6F9;
    text-transform: uppercase;
    font-family: 'Barlow Condensed';
    
}

.title {
    text-align: center;
    font-size: 80px;
    color: #D0D6F9;
    text-transform: uppercase;
    margin-top: 16px;
    font-family: 'Barlow Condensed';
    letter-spacing: 0.65rem;
}

.description {
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #D0D6F9;
    margin-top: 16px;
    font-family: 'Barlow Condensed';
}

.explore {
    display: block;
    margin-left: auto;
    margin-top: 55px;
    margin-right: auto;
    width: 180px;
}

.svg-container {
    display: flex;
    width: 170px;
    height: 170px;
}

@media(min-width: 500px) {
    .title {
        font-size: 200px;
        text-align: center;
    }

    .top-sentence {
        font-size: 25px;
    }

    .description {
        font-size: 23px;
        line-height: 30px;
    }

    .presentation-block {
        margin-top: 180px;
        margin-left: auto;
        margin-right: auto;
        width: 450px;
        height: 335px;
    }

    .background {
        height: 100%;
        width: 100vw;
        background-image: url('/assets/assets/home/background-home-tablet.jpg');
        position: fixed;
        margin-top: -172px;
        z-index: -3;
        width: 100%;
        background-repeat:no-repeat;
        background-size: cover;

    }

    .explore {
        margin-top: 20%;
        width: 300px;
    }

    .svg-container {
        display: flex;
        width: 300px;
        height: 305px;
    }

    circle {
        r : 150px;
        cx :150px;
        cy :150px;
    }

    text {
        font-size: 30px;
    }

}
